.grid {
    display: grid;

    @media only screen and (min-width: $bp-small) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (min-width: $bp-med) {
        grid-template-columns: repeat(4, 1fr);
    }
}