// Colors

$clr-white: #FFFFFF;
$clr-black: #000000;
$clr-light-grey: #DFDFDF;
$clr-very-light-grey: #f5f5f5;

$clr-gradient-1: #FFC593;
$clr-gradient-2: #BC7198;
$clr-gradient-3: #5A77FF;

// Misc

$header-height: 72px;

// Break points

$bp-small: 700px;
$bp-med: 1000px;
$bp-large: 1200px;
$bp-xl: 1440px;